.colourscheme-auto,
[data-theme=dark] .colourscheme-dark,
[data-theme=light] .colourscheme-light {
  font-weight: bold;
}

[data-theme=dark] .colourscheme-auto,
[data-theme=light] .colourscheme-auto {
  font-weight: normal;
}

.card-content {
  text-align: center;
  padding: .7rem;
  font-size: .7rem;
}


.card {
--bulma-card-radius: 0;
}

.table td:nth-child(4),
.table td:nth-child(5) {
  text-align: end;
}
